<nav class="navbar">
    <div class="navbar-logo">
        <!-- <img src="assets/logo.png" alt="My App Logo" /> -->
    </div>
    <ul class="navbar-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
    </ul>
    <div class="navbar-actions">
        <a class="navbtn" routerLink="/login"><button class="navbtn-main"> Login</button></a>
        <a class="navbtn" routerLink="/signup"><button class="navbtn-main">SignUp </button></a>
    </div>
</nav>