<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Login</h1>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      
    </div>
  </div>