<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div>
  <!-- <app-mycomponent></app-mycomponent> -->
  <!-- <nav>
    <a routerLink="">Home</a>
    <a routerLink="/signup">Signup</a>
    <a routerLink="/login"> Login </a>
  </nav> -->
  <app-navbar></app-navbar>
</div>

<router-outlet></router-outlet>
